---
verbose_logging: true
alerts_repo_path: "/Users/igor47/repos/alerts"
read_hosts_threads: 20

alert_sources:
  - type: "filesystem"
    enabled: true
    options:
      alert_types:
        - path: "/Users/igor47/git/repos/alerts/alerts"

group_sources:
  - type: "filesystem"
    enabled: true
    options:
      paths: ["/Users/igor47/repos/alerts/groups"]

host_sources:
  - type: "aws_rds"
    enabled: false
    options:
      regions: []
      access_key_id: "AKIAsomething"
      secret_access_key: "dontcheckthisinaccidentally!"

  - type: "aws_dynamo"
    enabled: false
    options:
      regions: []
      access_key_id: "AKIAsomething"
      secret_access_key: "dontcheckthisinaccidentally!"

  - type: "aws_elasticache"
    enabled: false
    options:
      regions: []
      access_key_id: "AKIAsomething"
      secret_access_key: "dontcheckthisinaccidentally!"

destinations:
  - type: "datadog"
    enabled: true
    options:
      app_key: "fillmein"
      api_key: "alsomissing"
      api_timeout: 15
      max_mute_minutes: 20160 # 14 days
      # Optional. If not specified the alert_key will default to this value.
      alert_key: "This alert was created via the alerts framework"
      retries: 3
      retry_base_delay: 0.3
